//reseteo gral
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables/typo';
@import './variables/extend';

@import './secciones/header';
@import './secciones/main-index';
@import './secciones/formulario';
@import './secciones/footer';


/* media queries */
@media (min-width: 768px) {
 .navbar-expand-md .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: end;
  }
}