//reseteo gral
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './secciones/header';
@import './secciones/main-index';
@import './secciones/footer';



// carousel */

.ancho-carousel {
    width: 70vw;
    margin: 0 auto;
    padding: 5px;
} 

/* formulario de contacto */
.contacto .form-floating{
    display: flex;
    margin: 0 auto;
    padding: 5px;
    width: 50vw;
}

/* hover fe formulario */
.form-control:hover {
    border: 1px solid black;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/* boton */
.botom{
    display: flex;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 3px; 
    padding: 2px; 
   
}
/* hover del boton */
.botom:hover{
    background-color: #e6a8f27b;
    transition: 2ms;
}




/* media queries */
@media (min-width: 768px) {
 .navbar-expand-md .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: end;
  }
}
