@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,300&display=swap');

// tipografia del wrap
$tipografia-wrap: 'Montserrat', sans-serif;

// header y footer
$bg-headerfooter: linear-gradient(21deg, white, rgb(245, 95, 188), rgb(196, 8, 196));
$hover: #807682b3;

// formulario de contacto
    $display: flex;
    $margin: 0 auto;
    $padding: 5px;
    $width: 50vw; 



