/* Navbar */
.color-nav{
    background-image: $bg-headerfooter;
}
/* logo */
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.navbar-nav{
    --bs-nav-link-color: #0a0505;
    --bs-nav-link-hover-color: $hover;
}
