//comienza el main

.main{
    background-color: rgba(242, 238, 233, 0.55);
    min-height: 99vh;
}

.wrap{
    width: 100vw;
    height: 200px;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    background-image: url(../img/loto.jpg);
    background-size: cover;
}
.frase{
    font-size: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainGaleria{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
